<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coicapps.mibus" >

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.coicapps.mibus.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.coicapps.mibus.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icono"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ViewMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.viaje.usuario.ViewViaje"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".view.viaje.conductor.ViewBusDatos"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.viaje.conductor.ViewBusViaje"
            android:screenOrientation="portrait"/>

        <service android:name=".utils.services.MyService" android:process=":my_service" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD-T3KGNLZmFulhk1tho8MPgrs2HU4Fx9Q" />

        <receiver
            android:name="com.coicapps.mibus.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.tiltac.plantilla" />
            </intent-filter>
        </receiver>
        <service android:name="com.coicapps.mibus.GcmIntentService" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
